@import "vars";
@import "global";


.header{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  & video{
    height: 100vh;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1
  }
&__content{
  z-index: 2;
  & h1{
    font-weight: bold;
    font-size: 64px;
    color: #fff;
    text-align: center;
    & span{ background: #EAEC7B;
    }  
  }
}
&__blackout{
  position:absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
}

&__inner{
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  color: #EAEC7B;
  & img{
    width: 280px;
    height: 360px;
  }
  & li{margin-bottom: 25px;
    position: relative;  
    &::before{
      position:absolute;
    }
  }
  & li:nth-child(1)::before{
    content: url('../images/SVG/header__leaf.svg');
    left: -65px;
    top: -16px;
    width: 55px;
    height: 55px;
  }
  & li:nth-child(2)::before{
    content: url('../images/SVG/header__helth.svg');
    left: -65px;
    top: -8px;
  }
  & li:nth-child(3)::before{
    content: url('../images/SVG/header__time.svg');
    left: -65px;
    top: -8px;
  }

  & button{margin-left: 40px;}
}

}




.composition{
  // background: linear-gradient(180deg, #B3EAEA 0%, rgba(179, 230, 129, 0.896477) 0%, #B3EAEA 51.34%, #B3EAEA 51.35%, #D8EAB3 62.94%, #B3EAEA 85.07%, rgba(179, 234, 234, 0) 100%);
  padding-top: 100px;
  padding-bottom: 110px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h3{display: none;}
  }
  &__images{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size:1.8vw;
    & img{
      width: 153px;
      height: 153px;
      border-radius: 50%;
      box-shadow: (0px 7px 7px rgba(0, 0, 0, 0.5));  
    } 
    
  }
  
  .item-wrap{
    position: relative;
    & p{
      text-transform: uppercase;
      display: block;
      background: #EAEC7B;
      margin-top: 15px;
      width: 100%;
    }
    &__text-3{ width: 265px;}
   
  }
  &__product{
    display: flex;
    flex-direction: column;
    align-items: center;
    & img{width: 200px; height: 310px; margin-bottom: 15px; }
    & button {width: 200px; font-size: 26px;}

  }
}
.composition__images-item{margin-bottom: 45px;}
.item-wrap::before{
  position: absolute;
  content: '';
  width: 150px;
  height: 6px;
  background: linear-gradient(90deg,  #ff72c0, #744bea,);
  border-radius: 5px;
}
.wrap-1::before{
  right: -230px;
  bottom: 0;
  transform: rotate(30deg);
} 
.wrap-2::before{
  right: -210px;
  bottom: 50%;
  width: 100px;
}
.wrap-3::before{
  right: -230px;
  top: 0;
  transform: rotate(-30deg);
}
.wrap-4::before{
  left: -230px;
  bottom: 0;
  transform: rotate(-30deg);
}
.wrap-5::before{
  left: -210px;
  bottom: 50%;
  width: 100px;
}
.wrap-6::before{
  left: -230px;
  top: 0;
  transform: rotate(30deg);
}





.reviews{
  margin: 0 auto;
  text-align: center;
}

.slider-box{ 
  position: relative;
  &__image{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: (0px 7px 7px rgba(0, 0, 0, 0.5));
  }
  & img.slider__arrow.slider__arrow-left.slick-arrow{
    width: 90px;
    position:absolute;
    left: -80px;
    bottom: 24%;
  }
  & img.slider__arrow.slider__arrow-right.slick-arrow{
    width: 90px;
    position:absolute;
    right: -80px;
    bottom: 24%;
  }
  &__heading{
    margin: 0 auto;
    width: 400px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    background: #EAEC7B;
  }
  
  &__text-wrapper{
    width: 85%;
    background: rgba(255, 255, 255, 0.66);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 15px;
    & p{
      font-size:2vw;
      line-height: 1.6;
      text-align: center;
      max-width: 900px;
      margin: 0 auto;
      padding-top: 4%;
      padding-right: 10px;
      padding-left: 10px;
      padding-bottom: 6.5%;
    }
  }
}


.slick-dots {
  position: absolute;
 bottom: 3%;
 right: 42%;
}
.slick-dots li {
  display: inline-block;
  padding: 0 20px;
}
.slick-dots button {
  transition: 0.5s;
  padding: 0;
  font-size: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background: #8FCDCD;
  cursor: pointer;
}
.slick-active button {
  background: #EAEC7B;
  box-shadow: (0px 3px 3px rgba(0, 0, 0, 0.5));
}





.promo{
  padding-top: 190px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & p{
      font-size: 36px;
      line-height: 50px;
      text-align: center;
    }
    & button{margin: 0 auto; margin-top: 15px;}
    &__text-wrap{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__list{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    font-size: 22px;
    & li{
      position: relative;
      display: block;
      margin-right: 25px;
      background: #EAEC7B;
      width: 300px;
      &::before{
        position:absolute;

      }
    }
    & li:nth-child(1)::before{
      content: url('../images/SVG/leaf.svg');
      top: 0;
      left: -37px;
      width: 40px;
      height: 40px;
    }
    & li:nth-child(2)::before{
      content: url('../images/SVG/energy.svg');
      top: -12px;
      left: -65px;
      width: 70px;
      height: 70px;
    }
    & li:nth-child(3)::before{
      content: url('../images/SVG/healthy_strength.svg');
      top: -15px;
      left: -75px;
      width: 70px;
      height: 70px;
    }
  }
}





.order{
  padding-top: 180px;

  & h3{
    font-weight: bold;
    font-size: 60px;
    color: #fff;
    text-align: center;
    & span{ background: #EAEC7B;
    }  
  }

  &__inner{
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
    }
  
&__image-block{
  margin-right: 180px;
  text-align: center;
  & img{
    width: 220px;
    height: 340px;
  }

  }

&__price{
margin-top: 10px;
display: flex;
position: relative;
}
.old-price {
  position:absolute;
  bottom: -15px;
  left: 0;
  background: #EAEC7B;
  font-size: 40px;
  position: relative;
  color: #000;
  text-decoration: none;
  font-family:monospace;
}
.old-price:before {
  content: "";
  border-bottom: 7px solid red;;
  position: absolute;
  width: 100%;
  height: 50%;
  transform: rotate(-20deg);
  border-radius: 30%;
}
.old-price::after {
  content: "";
  border-bottom: 5px solid red;;
  position: absolute;
  width: 100%;
  height: 50%;
  transform: rotate(18deg);
  left: 0;
  border-radius: 30%;
}
.new-price{
  position:absolute;
  bottom: -68px;
  right: -100px;
  & span{
    color: #EAEC7B;
  }
}

/* ---Animation for new price:--- */

.area {
  text-align: center;
  font-size: 60px;
  color: #fff;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 1s ease-out infinite;
  text-shadow: 0px 0px 1px #361342, 0px 0px 1px #361342;
  padding-bottom: 20%;
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 15px #fff,
      0px 0px 4px #fff, 0px 0px 4px #fff, 0px 0px 4px #fff, 0px 0px 4px #fff,
      0px 0px 4px #fff, 0px 0px 50px #fff, 0px 0px 20px #fff,
      0px 0px 20px #7b96b8, 0px 0px 50px #7b96b8, 0px 10px 20px #7b96b8,
      0px 10px 20px #7b96b8, 0px 10px 20px #7b96b8, 0px 10px 20px #7b96b8,
      0px -5px 20px #7b96b8, 0px -5px 20px #7b96b8;
  }
}

.timer{
  margin: 0 auto;
  margin-top: 35px;
  text-align: center;
  font-family:monospace;
  border-radius: 20px;
  width: 300px;
  height: 80px;
  background: linear-gradient(90deg,  #ff72c0, #744bea,);
  & p{
    padding-top: 15px; 
    color: #EAEC7B;
    text-shadow: 0px 0px 1px #361342, 0px 0px 1px #361342;
    font-size: 50px;
  } 
}

}
.order__form {
  position: relative;
  width: 500px;
  height: 450px;
  background: #fff;
  border-radius: 30px;
  box-shadow: (0px 3px 3px rgba(0, 0, 0, 0.5));
}

.form-left-decoration, .form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background: linear-gradient(90deg,  #744bea, #ff72c0, );
  border-radius: 20px;
}
.form-left-decoration {
  bottom: 60px;
  left: -30px;
}
.form-right-decoration {
  top: 60px;
  right: -30px;
}
.form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: white;
}
.form-left-decoration:before {
  top: -20px;
}
.form-left-decoration:after {
  top: 20px;
  left: 10px;
}
.form-right-decoration:before {
  top: -20px;
  right: 0;
}
.form-right-decoration:after {
  top: 20px;
  right: 10px;
}
.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #EAEC7B;
}
.form-inner {
  padding: 50px;
}
.form-inner input, .form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
  margin-top: 20px;
  height: 60px;
  background: #EAEC7B;
  color: #744bea;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  
}
.form-inner textarea {
  resize: none;
}
.form-inner h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #EAEC7B;
  margin-bottom: 30px;
}



.scroll-up{
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  color: #EAEC7B;
  cursor: pointer;
  overflow: hidden;
  visibility: hidden;
  border-radius: 50px;
  box-shadow: inset 0 0 0 4px #EAEC7B;
  opacity: 0;
  transition: 0.4s;
  transform: translateY(25px);
  &::before{
    position: absolute;
    top: -5px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 35px;
    content: '↑';
    color: #fff;
  }
  &:hover{
    color: #744bea;
  }
  
  }
  
  .scroll-up--active{
    visibility: visible;
    opacity: 1;
    transform: translateY(0)}
  
  
  .scroll-up__svg-path{
  box-sizing: border-box;
  fill: none;
  stroke:#EAEC7B;
  stroke-width: 4px;
  transition: .4s;
  }


@import "media";